@import "tailwindcss";

:root {
  --background: rgb(5, 6, 8);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.dot-grid-bg {
  background: linear-gradient(90deg, black 21px, transparent 1%) center / 22px
      22px,
    linear-gradient(black 21px, transparent 1%) center / 22px 22px, white;
}
